<nav>
  <mat-toolbar color="primary">
    <span>Sonder App</span>
  </mat-toolbar>
  <mat-toolbar color="basic" *ngIf="(loggedIn$ | async)">
    <button mat-raised-button color="accent" routerLink="/groups/suggested" routerLinkActive="active">Find groups</button>
    <mat-divider [vertical]="true"></mat-divider>
    <button mat-raised-button color="accent" routerLink="/groups/accepted" routerLinkActive="active">Your groups</button>
    <button mat-raised-button color="accent" routerLink="/profiles/me" routerLinkActive="active">Your profile</button>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-divider [vertical]="true"></mat-divider>
    <button mat-raised-button color="warn" (click)="logOut()" routerLinkActive="active">Log out</button>
  </mat-toolbar>
</nav>
<router-outlet></router-outlet>
