// https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=7dcbff&secondary.color=ff6675

$sonder-blue: (
  50: #b2feff,
  100: #7dcbff,
  200: #7dcbff,
  300: #7dcbff,
  400: #7dcbff,
  500: #7dcbff,
  600: #7dcbff,
  700: #7dcbff,
  800: #7dcbff,
  900: #7dcbff,
  A100: #7dcbff,
  A200: #7dcbff,
  A400: #7dcbff,
  A700: #469acc,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);
$sonder-red: (
  50: #ff99a4,
  100: #ff99a4,
  200: #ff6675,
  300: #ff6675,
  400: #ff6675,
  500: #ff6675,
  600: #ff6675,
  700: #ff6675,
  800: #ff6675,
  900: #ff6675,
  A100: #c7314a,
  A200: #c7314a,
  A400: #c7314a,
  A700: #c7314a,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);
